---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import WhyFoxry from '../components/WhyFoxry.astro';
import Products from '../components/Products.astro';
import About from '../components/About.astro';
import Footer from '../components/Footer.astro';
---

<Layout>
  <Header />
  <Hero />
  <main>
    <WhyFoxry />
    <Products />
    <About />
  </main>
  <Footer />
</Layout>
